name: CI

on: [push]

jobs:
  bot:
    runs-on: ubuntu-latest
    steps:
      - name: 'git pull'
        uses: actions/checkout@v1
      - name: 'Get Weather'
        run: bash ./weather.sh
      - name: 'Get Date'
        run: echo "::set-env name=REPORT_DATE::$(TZ=':Asia/Shanghai' date '+%Y-%m-%d %T')"
      - name: 'Send mail'
        uses: dawidd6/action-send-mail@master
        with:
          server_address: smtp.qq.com
          server_port: 465
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}
          subject: Beijing Weather Report (${{env.REPORT_DATE}})
          body: file://result.html
          to: zygryzz816@163.com
          from: GitHub Actions
          content_type: text/html 

