name: CI

on: [push, commit]

jobs:
  bot:
    runs-on: ubuntu-latest
    steps:
      - name: 'git pull'
        uses: actions/checkout@v1
      - name: 'Get Weather'
        run: bash ./weather.sh
      - name: 'Get Date'
        run: echo "::set-env name=REPORT_DATE::$(TZ=':Asia/Shanghai' date '+%Y-%m-%d %T')"
      - name: 'Send mail'
        uses: dawidd6/action-send-mail@master
        with:
          server_address: smtp.qq.com
          server_port: 465
          username: 1452279585@qq.com
          password: ldesvszdkswcfigh
          subject: Beijing Weather Report (${{env.REPORT_DATE}})
          body: file://result.html
          to: 1452279585@qq.com,278519743@qq.com,ygryzz816@163.com
          from: 1452279585@qq.com
          content_type: text/html
      - name: 'go run test'
        run:
          cd go/src/base && go test

